* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  @font-face {
    font-family: Josefn;
    src: url(./font/JosefinSans-VariableFont_wght.ttf);
  }
  body{
    font-family: 'Josefn', sans-serif;
  }
  .container4{
    width: 100%;
    height: 100vh;
 
  }
  header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  }
  .body-content {
    height: 2000px;
    padding: 20px;
  }
 
  ul{
    display: flex;
    gap: 20px;
  }
  .name {
    color: #00095E;
    font-weight: 500;
    padding: 39px 2px;
    font-size: 16px;
    position: relative;
}

.name:hover {
    color: #1c32f5;
}

.name::before,
.name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1c32f5;
    transition: width 0.5s ease;
}

.name:hover::before {
    width: 100%;
}

.name:hover::after {
    width: 100%;
    transition-delay: 0.5s;
}
.button1{
    color: #fff;
    font-size: 16px;
    font-weight: 500 ;
    border-radius: 5px;
    padding: 13px 30px;
    display: inline-block;
    background: #FFC800;
    border: none;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00095E;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px; 
}

.dropdown-content a {
    color: rgb(255, 247, 247);
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover { 
    padding-right: 10px; 
    transition: padding-right 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.container{
    width: 100%;
    height: 60vh;
    padding-top:150px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #00095E;
    line-height: 1.2;
    font-size: 60px;
 
}
.borderbottom h1{ color: #00095E;
    line-height: 1.2;
    font-size: 60px;
 display: flex;
 justify-content: center;


}
.borderbottom{
    border-bottom: 5px solid yellow;
    width: 550px;
}
.container p{
    font-size: 20px;
    color: #00095E;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}
.button2 {
    background: #00095E;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 170px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 1;
    padding: 1.75rem 3.5rem;
    position: relative;
    overflow: hidden;
}

.button2 span {
    position: relative;
    z-index: 2;
}

.button2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC800;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.button2:hover::before {
    transform: translateY(0);
}

.esas2{ width: 100%;
    height: 100vh;
    background-image: url(./h1_hero1.png.webp);
}
.esas2 {
  overflow: hidden;
  width: 100%;
}

.container5 {
  padding-bottom: 30px;
  margin-top: 150px;
  margin-left: 90px;
  position: relative;
  width: 800px;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-80%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10%);
  }
}
  .esas3{
    display: flex;
  }
  .container8{ width: 100%;
    height: 80vh;
    padding: 100px;

  }
  .container6{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 
  .pp{
    color: #7EA0FF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 0.05em;
  }
  h2{
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    display: flex;
    text-align: center;
  }
  .kvad{
    width: 362px;
    height: 350px;
    background-color: #fff;
  }
  .pppp{
    color: #00095E;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
  }
  .yaz{
    display: flex;
    margin-top: 10px;
  }
  .p1{
    font-size: 22px;
    font-weight: 700;
    color: #7EA0FF;
    line-height: 1;
    margin-left: 160px;
}
  .button3{
    color: #7EA0FF;
    background: rgba(126, 160, 255, 0.05);
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 9px;
    border-radius: 19px;
  }
  .p2{
    color: #00095E;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding-left: 180px;
    line-height: 1.4;
  }
  .yaz1{ display: flex;
    
  }
  .esas3{
    display: flex!important;
    gap: 40px;
  }
  .container9{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
  }
.pp2{
    color: #00095E;
    line-height: 1.2;
    font-size: 60px;
    white-space: pre;
}
.pp3{font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    white-space: pre;
}
.button4 {
    background: #e2d631;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 1;
    padding: 1.75rem 3.5rem;
    position: relative;
    overflow: hidden;
}

.button4 span {
    position: relative;
    z-index: 2;
}

.button4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00095E;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.button4:hover::before {
    transform: translateY(0);
}
.container10{
    width: 100%;
    height: 60vh;
    background-image:url(./section_bg1.jpg.webp);
 display: flex;
 justify-content: center;
 align-items: center;
}
.pp4{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.pp5{ white-space: pre;
    line-height: 1.5;
    padding: 0 50px;
    margin-bottom: 32px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
}
.span1{line-height: 1.5;
    padding: 0 50px;
    margin-bottom: 32px;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    display: flex;
   justify-content: center;
}
.esas5{
    display: flex;
    justify-content: center;
}
.pp6{
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}
.container11{
    width: 100%;
    height: 80vh;
    padding: 50px;
}
.top{
    display: flex;
    justify-content: center;
}
.top .pp{ display: flex;
    justify-content: center;
}

.right1 {
    cursor: pointer;
    padding-top: 40px;
}

.right1:hover + div {
    display: block;
}

.hidden {
    display: none;
    margin-top: 10px;
    white-space: pre;
}
hr{
    width: 300px;
}
.right1:hover{
    color: #7EA0FF;
}
.right1 {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
}

.right1:hover::before {
    content: '-';
}

.right1::before {
    content: '+';
    transition: content 0.3s;
    margin-right: 5px;
}
.umumi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{ display: flex;
    justify-content: center;
}
.container15{
    width: 60%;
    height: 60vh;
    background-image: url(./video-bg.jpg.webp);
    position: relative;
    margin-left: 400px;
}
    
h3{
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    
}
.svg1{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}
.sekil {
  display: flex;
  padding-top: 80px;
}

.sekil div {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.sekil div i {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease color 0.3s ease;
}

.sekil div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease; 
}

.sekil div:hover i {
  opacity: 1;
  cursor: pointer;
}

.sekil {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.sekil::before {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.sekil:hover::before { 
  opacity: 1;
  transform: translateY(0);
}

.container16{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background-color: #00095E ;
}
.ii {
  display: flex;
  padding-top: 40px;
  gap: 20px;
  color: #fff;
}

.ii div {
  transition: transform 0.3s ease, color 0.3s ease, margin 0.3s ease; /* Tərpənmə, rəng dəyişimi və margin üçün keçiş effekti */
  display: flex;
  align-items: center;
  margin: 0; /* İkonların başlangıcda margini sıfır edir */
}

.ii div:hover i {
  transform: rotate(360deg); /* 360 dərəcə tərpətmə */
  color: yellow; /* Hover zamanı ikonların rəngi */
  margin-right: 5px; /* Kənara çıxmaq üçün sağda margin əlavə edir */
}

.ii:hover {
  cursor: pointer;
}

.esas9{
  display: inline;
}
.pp7{
  white-space: pre;
  color: #8A8FBE;
    font-size: 16px;
padding-top: 20px;
}
.pp8{
    color: #fff;
    font-size: 17px;
    margin-bottom: 28px;
    font-weight: 700;
}
.esas9 div{
  color: #8A8FBE;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    text-decoration: underline transparent;
    margin-top: 10px;
}
.esas9 div:hover{
  cursor: pointer;
  color: #fff;
}
.nom{
    font-size: 22px !important;
    color: #FFC800 !important;
    margin-bottom: 0px;
    font-weight: 400 !important;
    display: block;
}
.nom:hover{
  cursor: pointer;
}


.esas9 div::before,
.esas9 div::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #edeef7;

}

.esas9 div:hover::before {
  width: 50%;
}

.esas div:hover::after {
  width: 50%;
}